.transcript-table .table-wrapper {
  overflow: auto; }

.transcript-table-pagination {
  position: fixed;
  bottom: 1vh; }

.spinner-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #b3d0b8;
  height: 100%;
  z-index: 2;
  opacity: 0.7; }

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 35vh auto; }

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: black;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); } }
.filter-section {
  padding: 5px;
  background: #333333;
  position: fixed;
  height: 100%;
  color: #ece8d7;
  width: 25vw;
  z-index: 1; }
  .filter-section .filter-tabs {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center; }
    .filter-section .filter-tabs .filter-tab {
      display: inline-block; }
      .filter-section .filter-tabs .filter-tab .filter-tab-name {
        color: black;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-right: 12px;
        border-radius: 9%;
        background: #888888;
        padding: 10px; }
        .filter-section .filter-tabs .filter-tab .filter-tab-name:hover {
          cursor: pointer; }
      .filter-section .filter-tabs .filter-tab .wrapper {
        transition: all linear 0.2s;
        opacity: 1; }
      .filter-section .filter-tabs .filter-tab .wrapper.ng-hide {
        opacity: 0; }
  .filter-section .filter-fields {
    margin-bottom: 10px;
    width: 25vw;
    overflow: auto; }
    .filter-section .filter-fields .filter {
      margin: 10px 10px 0 0;
      background: #3bd3aa;
      border-radius: 5px;
      padding-bottom: 20px; }
    .filter-section .filter-fields .filter-field p {
      font-weight: bold;
      font-size: 18px; }
    .filter-section .filter-fields select {
      color: black;
      width: 80%; }
    .filter-section .filter-fields input {
      width: 80%; }

body {
  background: #f9f9f5;
  font-family: "Comic Sans MS", cursive, sans-serif; }
  body input {
    color: black; }

/*# sourceMappingURL=styles.css.map */
