.filter-section {
  padding: 5px;
  background: #333333;
  position: fixed;
  height: 100%;
  color: #ece8d7;
  z-index: 1;
  .filter-tabs {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    .filter-tab {
      display: inline-block;
      .filter-tab-name {
        color: black;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-right: 12px;
        border-radius: 9%;
        background: #888888;
        padding: 10px;
        &:hover {
          cursor: pointer;
        }
      }
      .wrapper {
        transition: all linear 0.2s;
        opacity: 1;
      }
      .wrapper.ng-hide {
        opacity: 0;
      }
    }
  }
  .filter-fields{
    margin-bottom: 10px;
    width: 25vw;
    overflow: auto;
    .filter{
      margin: 10px 10px 0 0;
      background: #3bd3aa;
      border-radius: 5px;
      padding-bottom: 20px;
    }

    .filter-name{

    }

    .filter-field{
      p{
        font-weight:bold;
        font-size: 18px;
      }
    }
    select{
      color: black;
      width: 80%;
    }
    input{
      width: 80%;
    }
  }
}