@(webJarAssets: WebJarAssets)

<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/styles.css")">
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>

        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("js/bootstrap.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-route.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-ui-router.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-resource.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-animate.js"))'></script>

        <!-- Custom Javascripts -->
        <script type="text/javascript" src="@routes.Assets.versioned("modules/utils/models.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/utils/table.model.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/repositories.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/transcript.service.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/form.service.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/fields.service.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/filter/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/app.js")"></script>

    </head>
    <body ng-app="app">
        <div ui-view></div>
    </body>
</html>
